@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", sans-serif;
  --font-pixel: "Geist Pixel", sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--ui-bg-muted);
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-bg-muted) transparent;
}
